@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: white;
}
* {
  font-family: "Montserrat", sans-serif;
  /* background-color: white; */
  color: black;
  
}
/* p{
  color: white;
} */

.bg-bg{
  background-image: url(https://media.discordapp.net/attachments/775393794186412073/997185060811845813/unknown.png?width=1314&height=604);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-95{
  width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.rojito{
  background-color: #aa1e22;
}

.rojitoNav{
  color: #aa1e22;
}

.oscuro{
  color: #323232;
}

.amarillo{
  background-color:  #e3c330;
}

.m0-auto{
  margin: 0 auto;
}




.mb10{
  margin-bottom: 10px;
}

@layer base {
  li {
    @apply p-5 hover:text-red-300;
  }
}
